body {
    background-color: ivory;
    color: maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

h1 {
    padding: 10px;
    margin: 5px;
    border: solid thin maroon;
}

img {
    width: 30%;
}